---
import { ClientRouter } from "astro:transitions";

import Footer from "@components/Footer.astro";

interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{canonicalURL.pathname === "/" ? "Audrey Lecuona · Développeuse Front-end PrestaShop" : `${title} · Audrey Lecuona` }</title>
    <meta
      name="description"
      content="Développeuse Front-end spécialisée en PrestaShop, avec un background de webdesigner et formatrice en UX/UI."
    />
    <meta
      name="keywords"
      content="audrey, lecuona, développeuse, front-end, front, end, webdesigner, formatrice, ux, ui, design, prestashop"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="preload" href="/fonts/lato/lato-400.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/lato/lato-700.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/pt-serif/pt-serif-700.woff2" as="font" type="font/woff2" crossorigin />
    <ClientRouter />
  </head>
  <body class="font-sans tracking-widest text-primary antialiased">
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @font-face {
        font-family: "Lato";
        src: url("/fonts/lato/lato-400.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Lato";
        src: url("/fonts/lato/lato-700.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "PT Serif";
        src: url("/fonts/pt-serif/pt-serif-700.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      header {
        @apply fixed left-0 right-0 top-0 z-50 w-full bg-white/75 p-6 backdrop-blur-md;
      }

      h1 {
        @apply font-serif;
      }

      .animate {
        @apply -translate-y-3 opacity-0 transition-all duration-300;
      }
      .animate.show {
        @apply translate-y-0 opacity-100;
      }
    </style>
    <script is:inline>
      function animate() {
        const animateElements = document.querySelectorAll(".animate");

        animateElements.forEach((element, index) => {
          setTimeout(() => {
            element.classList.add("show");
          }, index * 100);
        });
      }
      document.addEventListener("DOMContentLoaded", () => animate());
      document.addEventListener("astro:after-swap", () => animate());
    </script>

  </body>
</html>
